@import "../base/generales";

// Footer
footer {
  background-color: $primary-color;
  color: $light-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  div img {
    width: 250px;
    padding: 40px;
  }

  nav ul {
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: $light-color;
        font-size: 18px;
        margin: 40px;
      }
    }
  }

  .formulario {
    padding: 40px;

    a {
      @include button-style($light-color, $primary-color);
    }
  }

  .correo input {
    margin-bottom: 30px;
  }

  .footer-redes img {
    width: 150px;
    height: 150px;
  }
}