// Media Queries Tablet
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .detalle-locals {
    grid-template-columns: 1fr 1fr;
  }

  .locals iframe {
    min-height: 400px;
  }

  // Header
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .locales {
    div {
      margin: 20px;
      padding: 20px;
    }
  }

  .texto-producto-franui {
    width: 90%;
  }

  .detalle-locals img {
    max-width: 150px;
  }

  .nosotros p {
    margin-left: 10px;
    margin-right: 10px;
  }

  .recuadro-locales {
    display: flex;
    justify-content: center;

    img {
      width: 300px;
      height: 200px;
    }
  }

  .recuadro-nosotros {
    display: flex;
    justify-content: center;

    img {
      width: 300px;
      height: 200px;
    }
  }

  footer {
    display: flex;
    justify-content: space-around;
  }
}

// Media Queries Celular
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .detalle-locals {
    grid-template-columns: 1fr;
  }

  .locals iframe {
    min-height: 300px;
  }

  // Header
  header nav ul {
    list-style: none;
    display: block;
  }

  .locales {
    div {
      margin: 20px;
      padding: 20px;
    }
  }

  .texto-producto-franui {
    width: 80%;
  }

  .detalle-locals img {
    max-width: 100px;
  }

  .nosotros p {
    margin-left: 0px;
    margin-right: 0px;
  }

  .recuadro-locales {
    display: block;

    img {
      width: 270px;
      height: 180px;
    }
  }

  .recuadro-nosotros {
    display: block;

    img {
      width: 270px;
      height: 180px;
    }
  }

  footer {
    display: block;
  }
}
